<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/homenavbar.ejs")%>
<body>
    <div class="container">
        <br>
        <% result.Reports.rows.forEach((one)=>{ %>
        <br>
        <div class="card">
            <div class="card-header">
                <h2><%= one.title %></h2>

            </div>
            <div class="card-body">
                <a class="btn btn-success" href="/<%=one.slug%>">Ler Artigo</a>
            </div>

        </div>
        <% }) %>
        
        <br>
        
        <div class="row" >
            <div class="col col-12">
                <% if(result.page > 2){ %>
                    <a href="/Reports/page/<%=result.page - 1%>"><<< Prev</a>
                <% }else{ %> 
                    <a href="/"><<< Prev</a> 
                <% } %>
                <% if(result.next == true){ %><a style="float:right;" href="/Reports/page/<%=result.page + 1%>">Next >>></a><% } %>
            </div>
        </div> 
        
        <br>
        <br>
    </div>
</body>

<%- include ("../../partials/footer.ejs") %>